#textdomain wesnoth-the_forgotten_legacy

[scenario]

    id=01_flight_out_of_aysel_palace
    next_scenario=null
    name=_"Flight out of Aysel Palace"
    map_data="{~add-ons/the_forgotten_legacy/maps/01_Aysel_Palace.map}"
    turns=15

    [event]
        name=prestart
        {PLACE_IMAGE scenery/signpost.png 9 1}
    [/event]


    [side]
        side=1
        controller=human
        team_name ="Allies"
        user_team_name= _ "Allies"
        id= _ "Quintus"
        name= _ "Quintus"
        type="Sergeant"
        unrenamable=no
        canrecruit=yes
        recruit="Pesant, Spearman, Bowman"
        gold=65
        income=8
    [/side]

    [side]
        side=2
        controller=human
        team_name="Allies"
        user_team_name= _ "Allies"
        id="Sylva"
        name= _ "Sylva"
        type="Elvish Archer"
        unrenameable=no
        canrecruit=yes
        recruit="Pesant, Spearman, Bowman"
        gold=65
        income=8
    [/side]

    [side]
        side=3
        controller=ai
        team_name="Allies"
        user_team_name= _ "Allies"
        id="ElderMageSkysnow"
        name= _ "Elder Mage Skysnow"
        type="Elder Mage"
        unrenameable=no
        canrecruit=yes
        recruit="Duelist, Shock Trooper, Knight, Horseman, Red Mage, White Mage, Royal Guard, Master Bowman, Longbowman, Swordsman, Spearman"
        gold=225
        income=8
    [/side]

    [side]
        side=4
        controller=ai
        team_name="Enemies"
        user_team_name= _ "Enemies"
        id="EnemyLich"
        name= _ "Enemy Lich"
        type="Ancient Lich"
        unrenameable=no
        canrecruit=yes
        recruit="Dark Adept, Ghost, Skeleton, Skeleton Archer, Vampire Bat"
        gold=0 #125
        income=3
    [/side]

    [side]
        side=5
        controller=ai
        team_name="Enemies"
        user_team_name= _ "Enemies"
        id="EnemyNecromancer"
        name= _ "Enemy Necromancer"
        type="Necromancer"
        unrenameable=no
        canrecruit=yes
        recruit="Dark Adept, Ghost, Skeleton, Skeleton Archer, Vampire Bat"
        gold=0 # 125
        income=3
    [/side]

    [side]
        side=6
        controller=ai
        team_name="Enemies"
        user_team_name= _ "Enemies"
        id="EnemyDraug"
        name= _ "Enemy Draug"
        type="Draug"
        unrenameable=no
        canrecruit=yes
        recruit="Dark Adept, Ghost, Skeleton, Skeleton Archer, Vampire Bat"
        gold=0 #125
        income=3
    [/side]

    [side]
        side=8
        controller=ai
        team_name="Enemies"
        user_team_name= _ "Enemies"
        id="EnemyOrcishWarrior1"
        name= _ "Enemy Orcish Warrior"
        type="Orcish Warrior"
        unrenameable=no
        canrecruit=yes
        gold=0 #85
        income=5
        recruit="Orcish Archer, Orcish Assassin, Orcish Grunt, Wolf, Wolf Rider" 

    [/side]

    [side]
        side=9
        controller=ai
        team_name="Enemies"
        user_team_name= _ "Enemies"
        id="EnemyOrcishWarrior2"
        name= _ "Enemy Orcish Warrior"
        type="Orcish Warrior"
        unrenameable=no
        canrecruit=yes
        gold=0 #85
        income=5
        recruit="Orcish Archer, Orcish Assassin, Orcish Grunt, Wolf, Wolf Rider" 
    [/side]

    [side]
        side=7
        controller=ai
        team_name="Enemies"
        user_team_name= _ "Enemies"
        id="Enemy Rogue"
        name= _ "Enemy Rogue"
        type="Rogue"
        unrenameable=no
        canrecruit=yes
        gold=0 #65
        income=0
        recruit="Thief, Thug, Footpad, Poacher" 

    [/side]

    [event]
        name=start

        [message]
            speaker="Quintus"
            message= _ "Grand Magus, what shall we do? There's an incredibly powerful ancient lich across the river 
            to our south and we are surrounded on the norther front. -- make this sound less cheesy"
        [/message]

        [message]
            speaker="ElderMageSkysnow"
            message= _ "Worry not child, they have but no way to cross the depths of the river --give it a name--" 
        [/message]


        [objectives]

            [objective]
                description= _ "Death of your leader"
                condition="lose"
            [/objective]

            [objective]
                description= _ "Move a commander to the Northwest Signpost"
                condition="win"
            [/objective]
            
        [/objectives]

    [/event]


    [event]
        name=moveto
        [filter]
            id="Quintus"
            x,y=9,1
        [/filter]
        
        [message]
            speaker="Quintus"
            message="At last we have escaped! Onward men!"
        [/message]

        [endlevel]
            result=victory
        [/endlevel]
     
    [/event]


    [event]
        name=moveto
        [filter]
            id="Sylva"
            x,y=9,1
        [/filter]
        [message]
            speaker="Sylva"
            message="At last we have escaped! Onward!"
        [/message]
    [/event]

    [event]
        name="last breath"
        first_time_only=no
        [filter]
            id="Quintus"
        [/filter]

        [message]
            speaker="Quintus"
            message= _ "I die..."
        [/message]

        [filter_second]
            id="Sylva"
        [/filter_second]

        [message]
            speaker="Sylva"
            message= _ "I die..."
        [/message]

    [/event]

    [event]
        name=die
    
        [filter]
            id="Quintus"
        [/filter]

        [filter_second]
            id="Sylva"
        [filter_second]

        [endlevel]
            result=defeat
        [/endlevel]
         
    [/event]

[/scenario]

